	<ion-view view-title=" " hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-settings" class=" page-settings">
		<div class="list">
 <a class="item item-icon-left"> 
    <i class="icon ion-information-circled"></i>
    About LNN<br><br>
  <span>The Liberia News Network mobile app features news from the most Reliable Liberia News Publications.</span>
  </a>
  
  <a class="item item-icon-left">
    <i class="icon ion-android-notifications-off"></i>
    Push notification<br><br>
    <span>To display or change notifications settings for news, including turning the alert sound on or off, please go to global Settings sections from your device home screen</span>
  </a>

 <!--
   <a ng-controller="ShareCtrl" class="item item-icon-left" ng-click="shareAnywhere(null, null, null, https://itunes.apple.com/us/app)">
    <i class="icon ion-social-apple"></i>
    Share iPhone LNN APP
   
  </a>
  
  <a ng-controller="ShareCtrl" class="item item-icon-left" ng-click="shareAnywhere(null, null, null, https://play.google.com/store/apps/details?id=com.legendapp.thewardinnovationgroup.lnn)">
    <i class="icon ion-social-android"></i>
    Share Android LNN APP
   
  </a>-->
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
