	<ion-view view-title=" " hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"   id="page-front_page_afric_singles" class="page-front_page_afric_singles">
		<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
    <div class="list ">
            
            <!-- images -->
        <div class="itemn"><img class="full-image" image-lazy-loader="lines" image-lazy-src="{{front_page_afric.x_featured_media}}"/></div>
        <!-- ./images -->
                <!-- text -->
        <div class="itemcatsingle"><span class="subdued" ><span class="icon ion-android-globe"> {{front_page_afric.x_categories}}</span></span></div>
        <!-- ./text -->
        <!-- heading-1 -->
        <div class="item item-divider"  ng-bind-html="front_page_afric.title.rendered | to_trusted">{{front_page_afric.title.rendered}}</div>
        <!-- ./heading-1 -->
         
             <div class="row dateshare">
<div class="col col-80">
<span class="subdued" >{{front_page_afric.x_date | date:'EEE, MMM d' }}</span>
</div>
<div class="col col-10">
  <a ng-click="addToDbVirtual(front_page_afric);"><i class="icon ion-ios-bookmarks-outline"></i></a>
  </div>
  <div class="col col-10">
  <!--  <a ng-controller="ShareCtrl" ng-click="shareAnywhere(null, null, null, front_page_afric.link)"><i class="icon ion-share"></i></a>-->
    
    </div>
</div>
            

        <!-- to_trusted -->
        <div class="item item-text-wrap noborder to_trusted {{ fontsize }}" ng-bind-html="front_page_afric.content.rendered | strHTML"></div>
        <!-- ./to_trusted -->

    </div>

  

    <br/><br/><br/>
		</ion-content>
		<!-- ./content -->
	</ion-view>
