	<ion-view view-title=" " hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-news_category" class="page-news_category">
		<div class="grid">
  
  <h4>News Sources</h4>
<div class="item item-image front"> <a ng-href="#/liberia_news_network/front_page_africa">
  <img src="data/images/images/ffa.jpg"></a>
  </div>

  <div class="item item-image"><a ng-href="#/liberia_news_network/liberian_observer">
    <img src="data/images/images/observer.jpg"></a>
  </div>

  <div class="item item-image"><a ng-href="#/liberia_news_network/gnn_liberia">
    <img src="data/images/images/gnn.jpg"></a>
  </div>

  <div class="item item-image"><a ng-href="#/liberia_news_network/the_bush_chicken">
    <img src="data/images/images/bushchicken.jpg"></a>
  </div>
  
  <div class="item item-image"><a ng-href="#/liberia_news_network/the_news_lib">
    <img src="data/images/images/thenews2.jpg"></a>
  </div>
  <div class="item item-image remove"><a ng-href="#/liberia_news_network/the_new_democrat">
    <img src="data/images/images/thedemocrat.jpg"></a>
  </div>
<div class="item item-image"><a ng-href="#/liberia_news_network/liberian_stars_views">
    <img src="data/images/images/starsviews.jpg"></a>
  </div>
  <div class="item item-image"><a ng-href="#/liberia_news_network/c_liberia_clearly">
    <img src="data/images/images/clib.jpg"></a></div>
  
 <div class="item item-image"><a ng-href="#/liberia_news_network/kmtv">
    <img src="data/images/images/kmtv.jpg"></a>
  </div>

</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
